<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <%= simple_form_for @post do |f| %> <!-- https://github.com/plataformatec/simple_form  참조 -->
    <%= f.input_field :title, placeholder: '제목' %><br />
    <%= f.input_field :contents, placeholder: '내용' %><br />
    <%= f.button :submit %>
  <% end %>
<% end %>


