<ul style="list-style-type: none">
    <% @posts.each do |post| %>

  <li>
    <h1><%= post.title %></h1>
        <div><%= post.contents %></div>
        <div><%= link_to 'Show', post %>
        <%= link_to 'Edit', edit_post_path(post) %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </tr>
  </li>
    <% end %>
</ul>
<br>

<%= link_to 'New Post', new_post_path %>
