<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <a href="#" class="navbar-brand">Ghost</a>
  </div>
  <div class="nav-navbar">
    <ul class="nav navbar-nav">
      <li>
        <%= link_to "메인", root_path %>
      </li>
      <% if user_signed_in? %>
        <li> <%= link_to 'Edit User', edit_user_registration_path %> </li>
        <li> <%= link_to 'Sign out', destroy_user_session_path, method: :delete %> </li>
      <% else %>
        <li> <%= link_to 'Sign in', new_user_session_path %> </li>
        <li> <%= link_to 'Sign up', new_user_registration_path %> </li>
      <% end %>
    </ul>
  </div>
</nav>


